body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

#header a {
    color: #ffc451;
    text-decoration: none;
}

#header a:hover {
    color: #fff1d5;
    text-decoration: none;
}

:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background: #444444;
}

#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(0, 0, 0, 0.8);
}

#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #fff;
}

#header .logo a span {
    color: #ffc451;
}

#header .logo img {
    max-height: 40px;
}

/*--------------------------------------------------------------
#  Get Startet Button
--------------------------------------------------------------*/
.get-started-btn {
    color: #fff;
    border-radius: 4px;
    padding: 7px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #ffc451;
}

.get-started-btn:hover {
    background: #ffc451;
    color: #000;
}

@media (max-width: 992px) {
  .get-started-btn {
    padding: 7px 20px 8px 20px;
    margin-right: 15px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}
  
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
.navbar li {
    position: relative;
}
  
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}
  
.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
  
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: rgb(255, 119, 0);
}
  
  
@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
}
  
  /**
  * Mobile Navigation 
  */

  .mobile-nav-toggle {
    color: white;
    font-size: 27px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 991px) {
    .hamburger {
      display: block;
    }
  
    .navbar {
      height: 0;
      position: absolute;
      top: 80px;
      right: 0;
      width: 100vw;
      transition: 0.2s;
      background: #444444;
      margin-top: -10px;
      overflow: hidden;
    }
    .navbar.active {
      height: 450px;
    }

    .navbar ul {
      display: block;
      width: fit-content;
      margin: auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
    }
    .navbar.active ul {
      opacity: 1;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #151515;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #151515;
    background-color: rgb(255, 119, 0);
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }


  .header__container {
    padding: 1rem 1rem 5rem 1rem;
    margin-top: 100px;
  }
  
  .header__image__container {
    position: relative;
    min-height: 500px;
    background-image: 
      url("../img/hotel/hotel_page_back.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
  }
  
  .header__content {
    max-width: 600px;
    padding: 5rem 2rem;
  }
  
  .header__content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: bold;
    color: white
  }
  
  .header__content p {
    color: white;
    font-weight: bold;
  }
  
  .booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .booking__container form {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .booking__container .input__group {
    width: 100%;
    position: relative;
  }
  
  .booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    pointer-events: none;
    transition: 0.3s;
  }
  
  .booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    color: var(--text-dark);
  }
  
  .booking__container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
  }
  
  .booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
  }
  
  .booking__container .btn {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    background-color: gray;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .booking__container .btn:hover {
    opacity: 0.5;
  }


  .hotel_list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .hotel_list h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: #000;
  }

  .hotel_cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    flex-wrap: wrap;

  }
  
  .hotel_card {
    width: 350px;
    height: 410px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
  
  .hotel_card_img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: all ease 0.4s;
  }

  .hotel_card_img:hover {
    cursor: pointer;
    scale: 1.1;
  }
  
  .hotel_card_body {
    width: 100%;
    height: 40%;
    position: absolute;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  
  .hotel_card_title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .hotel_card_title a {
    text-decoration: none;
    color: #000;
    transition: 0.4s;
  }

  .hotel_card_title a:hover {
    opacity: 0.7;
  }

  .hotel_star {
    color: orange;
  }

  .hotel_foot {
    display: flex;
    flex-direction: row;
  }
  .hotel_foot p {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: orange;
  }
  .hotel_foot span {
    font-weight: bold;
    color: gray;
  }
  
  /*Responsive*/
  @media (max-width: 768px) {
    .hotel_cover {
        flex-direction: column;
        align-items: center;
    }
  
    .hotel_card {
        width: 80%;
        max-width: none;
        margin-bottom: 20px; /* thêm khoảng cách giữa các card */
    }
  }

  
  .client {
    background-color: var(--extra-light);
  }
  
  .client__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .client__card {
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .client__card img {
    max-width: 80px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 100%;
    display: flex;
  }

  .section__header {
    text-align: center;
    font-weight: bold;
    color: #000;
  }
  
  .client__card p {
    text-align: center;
    color: var(--text-dark);
  }

  @media (width < 900px) {
    .booking__container form {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .client__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  
  @media (width < 600px) {
  
    .header__container {
      padding-bottom: 25rem;
    }
  
    .booking__container {
      flex-direction: column;
      bottom: -25rem;
    }
  
    .booking__container form {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .client__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }






/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #151515;
    border-bottom: 1px solid #222222;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  #footer .footer-top .footer-info h3 span {
    color: #ffc451;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #292929;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #ffc451;
    color: #151515;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ffc451;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #ffc451;
  }
  
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
  }
  
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #ffc451;
    color: #151515;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #ffcd6b;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }